@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Montserrat:wght@400;800&family=Poiret+One&family=Poppins&family=Ubuntu+Mono&display=swap');
$font-family: 'Limelight', cursive;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-black: 900;